* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  background: url('nature.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(255, 255, 255, 0.527);
  width: 350px;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.subtitle {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1rem;
}

.description {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.7rem 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  margin-bottom: 1.5rem;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #333;
}

.social-icons a {
  margin: 0 8px;
  color: black;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: #555;
}
